form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

input[type="text"] {
  border: none;
  border-bottom: 2px solid #333;
  padding: 5px;
  font-size: 16px;
  margin-right: 5px;
}

button[type="submit"] {
  background-color: #333;
  color: white;
  border: none;
  padding: 5px;
  font-size: 16px;
  cursor: pointer;
}

h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

p {
  font-size: 16px;
  line-height: 1.5;
}

.search-results {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.search-results img {
  max-width: 300px;
  max-height: 400px;
  margin-bottom: 10px;
}

.search-results p {
  font-size: 14px;
}

.movie-tile {
  display: inline-block;
  margin: 1rem;
  width: 200px;
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
}

.movie-tile img {
  width: 100%;
  height: auto;
}

.movie-tile h3 {
  margin: 0.5rem;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
}

.movie-tile p {
  margin: 0.5rem;
  font-size: 0.8rem;
  text-align: center;
  color: #666;
}

.latest-movies {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movie-tile img {
  transition: transform 0.2s ease-in-out;
}

.movie-tile img:hover {
  transform: scale(1.1);
}

.movie-tile h3 {
  transition: transform 0.2s ease-in-out;
}

.movie-tile:hover h3 {
  transform: scale(1.1);
}


